<div class="image-editor">
  <app-upload (imageSelected)="onImageSelected($event)"></app-upload>
  <app-toolbar [showtools]="showtools" (undoClicked)="canvasComponent.undo()" (redoClicked)="canvasComponent.redo()"
    (rotateClicked)="canvasComponent.rotateImage()" (resizeClicked)="canvasComponent.resizeImage($event)"
    (cropClicked)="showCropper = true" (brightnessClicked)="canvasComponent.applyBrightness()"
    (rbrightnessClicked)="canvasComponent.reduceBrightness()" (contrastClicked)="canvasComponent.applyContrast()"
    (grayscaleClicked)="canvasComponent.applyGrayscale()" (brushClicked)="canvasComponent.setBrush()"
    (textClicked)="canvasComponent.addText()" (rectangleClicked)="canvasComponent.addRectangle()"
    (circleClicked)="canvasComponent.addCircle()" (lineClicked)="canvasComponent.addLine()"
    (clearCanvasClicked)="canvasComponent.clearCanvas()" (exportPNGClicked)="canvasComponent.exportAsPNG()"
    (exportJPEGClicked)="canvasComponent.exportAsJPEG()">
  </app-toolbar>
  <app-canvas #canvasComponent [showtools]="showtools"></app-canvas>
  <app-cropper *ngIf="showCropper" (cropped)="onImageCropped($event)"></app-cropper>

</div>
<!-- <app-background-remover></app-background-remover> -->
<router-outlet></router-outlet>