<div class="toolbar" *ngIf="showtools">
    <button (click)="rotate()">Rotate</button>
    <button [disabled]="scalerFactor<0.2" (click)="zoomOut()">Zoom Out</button>
    <button [disabled]="scalerFactor>4.2" (click)="zoomIn()">Zoom In</button>
    <button (click)="openCropper()">Crop</button>
    <!-- <button (click)="reduceBrightness()">-Brightness</button>
    <button (click)="applyBrightness()">+Brightness</button>
    <button (click)="applyContrast()">Contrast</button> -->
    <button (click)="applyGrayscale()">Grayscale</button>
    <!-- <button (click)="setBrush()">Brush</button> -->
    <!-- <button (click)="addText()">Text</button> -->
    <!-- <button (click)="addRectangle()">Rectangle</button> -->
    <!-- <button (click)="addCircle()">Circle</button> -->
    <!-- <button (click)="addLine()">Line</button> -->
    <!-- <div class="adjustment-controls">
        <label>Brightness</label>
        <input type="range" min="-1" max="1" step="0.1" (input)="canvasComponent.adjustBrightness($event)">
        
        <label>Contrast</label>
        <input type="range" min="-1" max="1" step="0.1" (input)="canvasComponent.adjustContrast($event)">
        
        <label>Red</label>
        <input type="range" min="0" max="2" step="0.1" (input)="canvasComponent.adjustRGB('red', $event)">
        
        <label>Green</label>
        <input type="range" min="0" max="2" step="0.1" (input)="canvasComponent.adjustRGB('green', $event)">
        
        <label>Blue</label>
        <input type="range" min="0" max="2" step="0.1" (input)="canvasComponent.adjustRGB('blue', $event)">
      </div> -->
      
    <button [class.active]="selectedTool === 'brush'" (click)="setBrush()">Brush</button>
    <button [class.active]="selectedTool === 'text'" (click)="addText()">Text</button>
    <button [class.active]="selectedTool === 'rectangle'" (click)="addRectangle()">Rectangle</button>
    <button [class.active]="selectedTool === 'circle'" (click)="addCircle()">Circle</button>
    <button [class.active]="selectedTool === 'line'" (click)="addLine()">Line</button>
    <button (click)="undo()">Undo</button>
    <button (click)="redo()">Redo</button>

    <button (click)="clearCanvas()">Clear Canvas</button>
    <!-- Other toolbar buttons -->
    <button (click)="exportAsPNG()">Export as PNG</button>
    <button (click)="exportAsJPEG()">Export as JPEG</button>
</div>